<div class="article">
    <div class='main'>
        <h1 class="title"><%- page.title %></h1>
        <div class="stuff">
            <span><%- page.date.locale("en-us").format("MMMM DD, YYYY") %></span>
            <%- partial('_partial/post/tag', {post: page}) %>
        </div>
        <div class="content markdown">
            <%- page.content %>
            <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
            <audio id="audio" loop="1" preload="auto" controls="controls" data-autoplay="<%- theme.autoplay || page.autoplay || "false" %>">
                <source type="audio/mpeg" src="<%- page.mp3 %>">
            </audio>
            <% if (page.mp3 == '' | page.mp3 == null){%>
                <ul id="audio-list" style="display:none">
                    <% for (var i in theme.mp3){ %>
                        <% if (theme.mp3[i].indexOf('http') == 0){%>
                            <li title='<%- i %>' data-url='<%- theme.mp3[i] %>'></li>
                        <%} else {%>
                            <li title='<%- i %>' data-url='<%- config.root + theme.mp3[i] %>'></li>
                        <%}%>
                    <%}%>
                </ul>
            <%}%>
        </div>
        <%- partial('gitalk', {post: page}) %>
    </div>
    <% if (theme.TOC == true){ %>
        <div class='side'>
			<%- toc(page.content, {list_number: true}) %>	
        </div>
    <%}%>
</div>

