<% if (theme.gitalk != undefined){ %>
    <div id='gitalk-container' class="comment link"
		data-enable='<%=theme.gitalk.enable%>'
        data-ae='<%=theme.gitalk.autoExpand%>'
        data-ci='<%=theme.gitalk.clientID%>'
        data-cs='<%=theme.gitalk.clientSecret%>'
        data-r='<%=theme.gitalk.repo%>'
        data-o='<%=theme.gitalk.owner%>'
        data-a='<%=theme.gitalk.admin%>'
        data-d='<%=theme.gitalk.distractionFreeMode%>'
    >show</div>
<%}%>
