<div class="post">
    <a href="<%- url_for(post.path) %>" title="<%- post.title || "Untitled" %>">
        <%- image_tag(post.cover || theme.cover[Math.floor(Math.random() * theme.cover.length)], {class: "cover", width: 680, height: 440}) %>
    </a>
    <div class="else">
        <p><%- post.date.locale("en-us").format("MMMM DD, YYYY") %></p>
        <h3><%- link_to(post.path, post.title || "Untitled", {class: "posttitle"}) %></h3>
        <p><%- truncate(strip_html(post.content), {length: 80, omission: '...'}) %></p>
    </div>
</div>
