<div class="nav">
    <ul id="menu-menu" class="menu">
        <% for (var i in theme.menu){ %>
        <li class="<%- theme.menu[i].indexOf('http') > -1 ? " " : "pview" %> menu-item menu-item-type-post_type menu-item-object-page">
            <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: true})%>
        </li>
        <%}%>
    </ul>
	<span class="target"></span>
	<center>
	<div class="hitokoto">
		<span class="typed" id="hitokoto" data-st="<%=theme.hitokoto%>"></span>
	</div>
	</center>
	
	<p class="footerlinks">
		<a href="#" class="iconfont icon-null"></a>
		<% for (var i in theme.links){ %>
            <%- link_to(theme.links[i],' ',{external: true ,class: 'iconfont icon-'+i,title:i})%>
        <%}%>
		<a href="#" class="iconfont icon-null"></a>
	</p>
	
    <p id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
        <span> | </span>Made by <%- link_to("https://hexo.io/", "Hexo", {external: true})%> static site generator
        <!--<span> | </span>Theme <%- link_to("https://github.com/Fechin/hexo-theme-diaspora", "Diaspora", {external: true})%> by Fechin-->
		<% if (theme.beian.enable){ %>
		<span> | </span><a rel="nofollow" href="<%=theme.beian.link%>" target="_blank"><%=theme.beian.beianInfo%></a>
		<%}%>
    </p>
</div>
