<%- css(['/project/project.css']) %>
<%- js(['/project/project.js']) %>

<div class="slider-container">
  <div class="slider-control left inactive"></div>
  <div class="slider-control right"></div>
  <ul class="slider-pagi"></ul>
  <div class="slider">
    <div class="slide slide-0 active">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Bagi File</h2>
          <p class="slide__text-desc">Simple & lightweight Android application that transfer file in the same network using ftp server.</p>
          <a class="slide__text-link">Demo</a>
        </div>
      </div>
    </div>
    <!--<div class="slide slide-1 ">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Twitcool</h2>
          <p class="slide__text-desc">A Text mining tool build using Django & Python for looking trends and brand strength analysis in twitter.</p>
          <a class="slide__text-link">Repository</a>
        </div>
      </div>
    </div>
    <div class="slide slide-2">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Desy: Asisten Jaringanku</h2>
          <p class="slide__text-desc">Django web based that automate detecting malicious files as they traverse the network.</p>
          <a class="slide__text-link">Repository</a>
        </div>
      </div>
    </div>
    <div class="slide slide-3">
      <div class="slide__bg"></div>
      <div class="slide__content">
        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
          <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
        </svg>
        <div class="slide__text">
          <h2 class="slide__text-heading">Frozes</h2>
          <p class="slide__text-desc">Personal archive for my whatching movies</p>
          <a class="slide__text-link">Demo</a>
        </div>-->
      </div>
    </div>
  </div>
</div>
