<div id="single" class="page">
    <div id="top">
        <a class="iconfont icon-left image-icon" href="javascript:history.back()"></a>
    </div>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                    <div class="timeline">
                      <h2 class="timeline-title">Archive: <%= site.posts.length %> content</h2><hr>
                      <% var posts = site.posts.sort('date', 'desc'); %>
                      <% for(let i = 0, year = -1; i < posts.data.length; ++i) { %>
                        <%
                          const psg = posts.data[i];
                          if(psg.date.year() !== year) {
                            year = psg.date.year();
                        %>
                          <h3 class="timeline-subtitle"><%= year %></h3>
                        <% } %>
                        <div class="timeline-item">
                          <time><%- psg.date.format("YYYY-MM-DD") %></time>
                          <a target="_self" href="<%- url_for(psg.path) %>"><%= psg.title %></a>
                        </div>
                      <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
